<div>
  <button (click)="loadWalletWidget()" *ngIf="!widgetLoaded">Load Wallet Widget</button>
  <div style="margin-top:50px;">
    <div style="float:left;margin-left:50px;" #walletWidget [id]="'walletWidget'+sellerId"></div>
    <div style="float:right;margin-right:50px;" #consentWidget [id]="'consentWidget'+sellerId"></div>
  </div>
</div>
