<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>AmazonLogin</title>
  <base href="/">

  {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>Loading...</app-root>

    {{#each scripts.polyfills}}
    <script src="{{.}}"></script>
    {{/each}}
    <script>
      var amazonConfig = {
        sellerId : 'A2K6959CQVB4WH',
        clientId : 'amzn1.application-oa2-client.f53afc8ab5c8453a94c05d770c9b1b3c',
        sandboxMode : false
      }
    </script>
    <script>
      System.import('system-config.js').then(function () {
        System.import('main');
      }).catch(console.error.bind(console));
    </script>

</body>
</html>
